@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    background-image: url('kayra-sercan-v10lH6UUEGw-unsplash.jpg');
}

#content {
    width: 75%;
    margin: 0 auto;
}

div.forecasts {
    display: inline-block;
    width: 30%;
    border: 1px solid rgb(243, 247, 243);
    border-radius: 4px;
    margin: 2% 2% 0.5% 0.5%;
}

div.forecast-info {
    border: 1px solid aquamarine;
    border-radius: 4px;
    margin-bottom: 1%;
}

#request {
    text-align: center;
}

.bl {
    width: 300px;
}

#current {
    text-align: center;
    font-size: 2em;
}

#upcoming {
    text-align: center;
}

.condition {
    text-align: left;
    display: inline-block;
}

.symbol {
    font-size: 4em;
    display: inline-block;
}

.forecast-data {
    display: block;
    color: white;
    font-family: Poppins;
}

.upcoming {
    display: inline-block;
    margin: 1.5em;
}

.label {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    font-family: Poppins;
}

input {
    padding: 10px 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}